force-app/main/default/flows/Append_ZipCode_When_AccountName_Matches.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Append_Zipcode</name>
        <label>Append Zipcode</label>
        <locationX>944</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CurrentAccountName}{!ZipCode}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Account_Name_Matches</name>
        <label>If Account Name Matches</label>
        <locationX>740</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Name_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurAccount.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentAccountName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Zipcode</targetReference>
            </connector>
            <label>Account Name Matches</label>
        </rules>
    </decisions>
    <interviewLabel>Append ZipCode When AccountName Matches {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Append ZipCode When AccountName Matches</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>468</locationX>
        <locationY>76</locationY>
        <assignNextValueToReference>CurAccount</assignNextValueToReference>
        <collectionReference>StoreAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Account_Name_Matches</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records_in_Org</name>
        <label>Get Account Records in Org</label>
        <locationX>258</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>StoreAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company_Id__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Account</name>
        <label>Update Current Account</label>
        <locationX>1054</locationX>
        <locationY>407</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CurrentAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Records_in_Org</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
