force-app/main/default/flows/Create_Duplicate_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>If the contact do not have companyId</description>
        <name>CompanyId_Null</name>
        <label>CompanyId Null</label>
        <locationX>838</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompanyId_Null_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrCon.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Duplicate_Contacts_Under_New_Account</targetReference>
            </connector>
            <label>CompanyId Null is True</label>
        </rules>
    </decisions>
    <description>Create Duplicate Contacts for POC</description>
    <interviewLabel>Create Duplicate Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Duplicate Contacts</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>489</locationX>
        <locationY>58</locationY>
        <assignNextValueToReference>CurrCon</assignNextValueToReference>
        <collectionReference>StoreContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CompanyId_Null</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Duplicate Contacts Under New Account which got created</description>
        <name>Create_Duplicate_Contacts_Under_New_Account</name>
        <label>Create Duplicate Contacts Under New Account</label>
        <locationX>1040</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>CurrCon.Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CurrCon.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CurrCon.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CurrCon.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>CurrCon.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>CurrCon.Mailing_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>CurrCon.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>CurrCon.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>CurrCon.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>CurrCon.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CurrCon.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CurrCon.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Contacts of the Existing Account</description>
        <name>Get_the_Contacts_of_the_Existing_Account</name>
        <label>Get the Contacts of the Existing Account</label>
        <locationX>260</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>StoreContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Company_Id__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_the_Contacts_of_the_Existing_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
