force-app/main/default/flows/Populate_LeadSource_with_CarrierId_in_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>To_validate_Lead_Source</name>
        <label>To validate Lead Source</label>
        <locationX>846</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LSNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LeadSource_CarrierID.Lead_Sources__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LeadSource</targetReference>
            </connector>
            <label>LSNotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_CarrierID</name>
        <label>Validate CarrierID</label>
        <locationX>414</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Xact_CarrierID_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.XACT_CarrierID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LeadSource_CarrierID</targetReference>
            </connector>
            <label>Xact CarrierID Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_CarrierId_Value</name>
        <label>Validate CarrierId Value</label>
        <locationX>654</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Insert_record_in_Carrier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LeadSource_CarrierID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_validate_Lead_Source</targetReference>
            </connector>
            <label>IsNotEmpty</label>
        </rules>
    </decisions>
    <description>To Populate Lead Source with CarrierId by Comparing it with the CarrierId in Job Lead source with CarrierId object</description>
    <interviewLabel>Populate LeadSource with CarrierId in Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate LeadSource with CarrierId in Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_record_in_Carrier</name>
        <label>Insert record in Carrier</label>
        <locationX>625</locationX>
        <locationY>495</locationY>
        <inputAssignments>
            <field>Carrier_Id__c</field>
            <value>
                <elementReference>$Record.XACT_CarrierID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Lead_source_with_CarrierId__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_LeadSource_CarrierID</name>
        <label>Get LeadSource &amp; CarrierID</label>
        <locationX>419</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_CarrierId_Value</targetReference>
        </connector>
        <filters>
            <field>Carrier_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XACT_CarrierID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Lead_source_with_CarrierId__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lead_Sources__c</queriedFields>
        <queriedFields>Carrier_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LeadSource</name>
        <label>Update LeadSource</label>
        <locationX>1026</locationX>
        <locationY>317</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>Get_LeadSource_CarrierID.Lead_Sources__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Validate_CarrierID</targetReference>
        </connector>
        <object>ATI_Job__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>JobCarrierID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.XACT_CarrierID__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSourceVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>LSCIDObj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
