force-app/main/default/flows/Set_Estimated_GP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asb_Lead_Bio_GP</name>
        <label>Asb Lead Bio GP</label>
        <locationX>1206</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Financials.Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Office.GP_Asbestos_Lead_Bio__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Construction_GP</name>
        <label>Construction GP</label>
        <locationX>781</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Financials.Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Contents_GP</name>
        <label>Contents_GP</label>
        <locationX>931</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Financials.Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Default_GP</name>
        <label>Default GP</label>
        <locationX>675</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Financials.Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ES_GP</name>
        <label>ES GP</label>
        <locationX>1056</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Financials.Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Micro_GP</name>
        <label>Micro GP</label>
        <locationX>853</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Financials.Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Estimated_GP</name>
        <label>Check Estimated GP</label>
        <locationX>487</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Est_GP_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Financials.Gross_Profit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Office2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Division_Selection</targetReference>
            </connector>
            <label>Est GP NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Division_Selection</name>
        <label>Division Selection</label>
        <locationX>682</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Default_GP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asb_Lead_Bio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asbestos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Biohazard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asb_Lead_Bio_GP</targetReference>
            </connector>
            <label>Asb Lead Bio</label>
        </rules>
        <rules>
            <name>Emergency_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency Svces</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ES_GP</targetReference>
            </connector>
            <label>Emergency Services</label>
        </rules>
        <rules>
            <name>Contents</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contents_GP</targetReference>
            </connector>
            <label>Contents</label>
        </rules>
        <rules>
            <name>Microbial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Microbial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Micro_GP</targetReference>
            </connector>
            <label>Microbial</label>
        </rules>
        <rules>
            <name>Construction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construction_GP</targetReference>
            </connector>
            <label>Construction</label>
        </rules>
    </decisions>
    <description>Sets the estimated GP based on standard value for division retrieved from corresponding Office record.</description>
    <interviewLabel>Set Estimated GO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Estimated GP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Financials</name>
        <label>Get Job Financials</label>
        <locationX>343</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Estimated_GP</targetReference>
        </connector>
        <filters>
            <field>ATI_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Office record for the specified Office on the Job.</description>
        <name>Get_Job_Office</name>
        <label>Get Job Office</label>
        <locationX>211</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Financials</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Office2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Office__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_Job_Office</targetReference>
        </connector>
        <object>ATI_Job__c</object>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
