force-app/main/default/flows/Update_Master_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>updateActiveCount</name>
        <label>Update Active Count</label>
        <locationX>434</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>ActiveJobCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopJobs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkActiveStageCount</name>
        <label>Check Active Stage Count</label>
        <locationX>284</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>UpdateMasterJobStatusInActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>compareActiveStageCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveJobCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMasterJobStatusActive</targetReference>
            </connector>
            <label>Compare Active Stage Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStage</name>
        <label>Check Stage</label>
        <locationX>791</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>loopJobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkForActiveStage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimating/Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateActiveCount</targetReference>
            </connector>
            <label>Check for Active Stages</label>
        </rules>
    </decisions>
    <description>Update Master Jobs Job Status</description>
    <interviewLabel>Update_Master_Jobs_Job_Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Master Jobs</label>
    <loops>
        <name>loopJobs</name>
        <label>Loop Jobs</label>
        <locationX>425</locationX>
        <locationY>37</locationY>
        <assignNextValueToReference>job</assignNextValueToReference>
        <collectionReference>getMasterJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkStage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkActiveStageCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMasterJobs</name>
        <label>Get Jobs</label>
        <locationX>192</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopJobs</targetReference>
        </connector>
        <filters>
            <field>Master_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ATI_Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMasterJobStatusActive</name>
        <label>Update Master Job Status Active</label>
        <locationX>291</locationX>
        <locationY>438</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMasterJobStatusInActive</name>
        <label>Update Master Job Status InActive</label>
        <locationX>123</locationX>
        <locationY>437</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>58</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>getMasterJobs</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ActiveJobCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
