force-app/main/default/flows/Update_MasterJobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>check_child_count</name>
        <label>check child count</label>
        <locationX>140</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>childcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_master_jobs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compare_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_flag</name>
        <label>Update flag</label>
        <locationX>449</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>CheckFlageVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>796</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vareachJob.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_flag</targetReference>
            </connector>
            <label>Check Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>compare_count</name>
        <label>compare count</label>
        <locationX>36</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>compare_child_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckFlageVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>childcount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_master_jobs</targetReference>
            </connector>
            <label>compare child count</label>
        </rules>
    </decisions>
    <interviewLabel>Update_MasterJobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_MasterJobs_old</label>
    <loops>
        <name>Loop_Jobs</name>
        <label>Loop Jobs</label>
        <locationX>598</locationX>
        <locationY>42</locationY>
        <assignNextValueToReference>vareachJob</assignNextValueToReference>
        <collectionReference>get_master_jobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_child_count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_master_jobs</name>
        <label>get jobs</label>
        <locationX>249</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
        <filters>
            <field>Master_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ATI_Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_master_jobs</name>
        <label>update master jobs</label>
        <locationX>46</locationX>
        <locationY>139</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>get_master_jobs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CheckFlageVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>childcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vareachJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>varParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
