force-app/main/default/flows/Update_Contacts_to_Respective_Accounts_on_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>City_and_State_Matches</name>
        <label>City and State Matches</label>
        <locationX>701</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>City_and_State_Matches_with_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrAcc.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>State</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrAcc.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>City</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Records_On_Insert</targetReference>
            </connector>
            <label>City and State Matches with Contact</label>
        </rules>
    </decisions>
    <description>Update Contacts when city and state matches with respective accounts</description>
    <interviewLabel>Update Contacts to Respective Accounts on Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contacts to Respective Accounts on Insert</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>452</locationX>
        <locationY>71</locationY>
        <assignNextValueToReference>CurrAcc</assignNextValueToReference>
        <collectionReference>StoreAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>City_and_State_Matches</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records_Created_Today</name>
        <label>Get Account Records Created Today</label>
        <locationX>247</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Private Client Group</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>StoreAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Records_On_Insert</name>
        <label>Update Contact Records On Insert</label>
        <locationX>922</locationX>
        <locationY>75</locationY>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CurrAcc.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Records_Created_Today</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
