metadatafullcopy/unpackaged/flows/UpdateMasterJobStage.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Is Closed?</description>
        <name>is_Closed</name>
        <label>isClosed</label>
        <locationX>670</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>isClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Job_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Is In-Progress?</description>
        <name>is_InProgress</name>
        <label>isInProgress</label>
        <locationX>310</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>isInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Job_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Is Post work?</description>
        <name>is_Postwork</name>
        <label>isPostwork</label>
        <locationX>541</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>isPostwork</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Job_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>is_Prework</name>
        <label>isPrework</label>
        <locationX>198</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>isPrework</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Job_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkStage</name>
        <label>Check Stage</label>
        <locationX>418</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForPreWork</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimating/Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Prework</targetReference>
            </connector>
            <label>Check for Pre-work</label>
        </rules>
        <rules>
            <name>CheckForInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_InProgress</targetReference>
            </connector>
            <label>Check for In-Progress</label>
        </rules>
        <rules>
            <name>CheckForPostWork</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Postwork</targetReference>
            </connector>
            <label>Check for Post work</label>
        </rules>
        <rules>
            <name>CheckForClosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>job.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Closed</targetReference>
            </connector>
            <label>Check for Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_All_Job_Status</name>
        <label>Is All Job Status</label>
        <locationX>417</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>loopJobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_All_Job_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_Prework</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_InProgress</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Postwork</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Closed</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MasterJobStage</targetReference>
            </connector>
            <label>Has All Job Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>MasterJobStage</name>
        <label>Master Job Stage</label>
        <locationX>1124</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_Prework</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_InProgress</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Postwork</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePrework</targetReference>
            </connector>
            <label>Prework</label>
        </rules>
        <rules>
            <name>InProgress</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>is_InProgress</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_InProgress</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Prework</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Postwork</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Closed</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInProgress</targetReference>
            </connector>
            <label>InProgress</label>
        </rules>
        <rules>
            <name>Postwork</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_Postwork</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_InProgress</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Prework</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePostwork</targetReference>
            </connector>
            <label>Postwork</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_Closed</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Prework</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_InProgress</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Postwork</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateClosed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <interviewLabel>Update Master Job Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Master Job Stage</label>
    <loops>
        <name>loopJobs</name>
        <label>Loop Jobs</label>
        <locationX>430</locationX>
        <locationY>37</locationY>
        <assignNextValueToReference>job</assignNextValueToReference>
        <collectionReference>getMasterJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkStage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MasterJobStage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMasterJobs</name>
        <label>Get Jobs</label>
        <locationX>192</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopJobs</targetReference>
        </connector>
        <filters>
            <field>Master_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ATI_Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClosed</name>
        <label>Update Closed</label>
        <locationX>1400</locationX>
        <locationY>315</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInProgress</name>
        <label>Update In-Progress</label>
        <locationX>1015</locationX>
        <locationY>317</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePostwork</name>
        <label>Update Postwork</label>
        <locationX>1263</locationX>
        <locationY>311</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Post work</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrework</name>
        <label>Update Prework</label>
        <locationX>895</locationX>
        <locationY>312</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-work</stringValue>
            </value>
        </inputAssignments>
        <object>Master_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>58</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>getMasterJobs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveJobCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Job Stage - Billing Complete or Lost</description>
        <name>isClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Job Stage-Won</description>
        <name>isInProgress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Job Stage - Billing Complete</description>
        <name>isPostwork</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Job Stage- Qualification or Estimating/Review</description>
        <name>isPrework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>MasterJobStageType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
